.main-content {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
}

@media (max-width: 750px) {
    .main-content {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }
    .rooms {
        border: none;
        border-bottom: 1px solid black;
    }
}