.rooms {
    border-right: 1px solid black;
}

.rooms-list__item {
    padding: 5px 0px;
    cursor: pointer;
}

.rooms-list__item:hover {
    cursor: pointer;
}

.rooms-list__item div {
    margin-left: 5px;
}

.rooms-list__item:hover:not(.rooms-list__item--active) {
    background-color: #efefef;
}

.rooms-list__item--active {
    background-color: #cecece;
    cursor: initial !important;
}

.collapse-container {
    display: none;
}

.collapse-container__button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.collapse-container__button div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

@media (max-width: 750px) {
    .rooms-list-container {
        display: none;
    }
    .collapse-container {
        display: block;
    }
}
